@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

h2 {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  color: rgb(0, 36, 84); /* Dark Blue */
  font-family: "Raleway", sans-serif;
}

body,
h2,
h3,
h1,
span,
p {
  font-family: "Raleway", sans-serif;
}
