@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

h2 {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  color: #002f6c; /* Dark Blue */
}
